<main class='p-5'>
    <h5>
        Hello!
        <i class='bi bi-c-circle-fill'></i>
    </h5>

    <button class='btn btn-warning'>
        <i class='bi bi-sd-card-fill'></i>
    </button>

    <div>
        <img src='/svg/slack.svg' />
    </div>
</main>