<div>
	{{#with main}}
		<main>
			<section class="mb-4">
				<div class="text-center">
					{{> title data="My Educations" big=true}}
				</div>
				<ul class="list-group">
					{{#each education}}
						<li class="list-group-item">
							{{name}}
							{{#unless isEnd}} (ще в процесі) {{/unless}}	
						</li>
					{{/each}}
				</ul>
			</section>

			<section class="mb-5">
				<div class="text-center">
					{{> title data="My Certificates" big=false}}
				</div>
				<ol class="list-group list-group-numbered">
					{{#each certificates}} 
						<li class="list-group-item">
							{{name}} ({{id}})
						</li>
					{{/each}}
				</ol>
			</section>
		</main>
	{{/with}}
</div>